.octodex{
  position: relative;
  list-style: none;
  font-family: sans-serif;
}
/* Setting up "Global" attributes in parent container */

.octocat {
float: left;
margin: 10px;
}
/* Aligning list items and child elements horizontally */

.octocat img{
  max-width: 300px;
  border: solid #d8d8da 1px;
  border-radius: 8px;
}
/* Correctly sizing images and adding rounded border */

.authors{
  float: right;
  padding-right: 2px;
}
.authors img{
  max-width: 22px;
  /*float: right;*/
  border: none;
  border-radius: 5px;
  position: relative;
}
/* Correctly sizing author images, floating author images to the right, and adding curved edges through border radius. Also places images in line with nested content*/


ul.authors{
list-style: none;
}

.image-footer{
padding-bottom: 20px;
border-bottom: solid #d8d8da 2px;
border-radius: 2px;
}

/*Draws the bottom border and positions it correctly */

.image-caption{
  display: inline;
  font-weight: bold;
  color: #a3a3a8;
}
/* aligns caption element with number and sets correct color and font weight */

.image-caption a{
  color: black;
  text-decoration: none;
}
/* removes default hyperlink color and properly sets text color */

.image-number{
  color: #d8d8da;
  /*margin-right: 50px;*/
}

.image-number:before {
  content: "#";
}
/* adds the pound sign the the image number*/





/*TESTING AREA*/
